<!-- if cabinet is occupied by Plant -->

<%- if cabinet.occupiable_type == 'Plant' %>

  <div class='panel-body table-responsive'>
    <table class='table table-default'>
      <tbody>

      <tr>
        <th>Species</th>
        <td>
          <strong><%= link_to cabinet.occupiable.name, plant_path(cabinet.occupiable) %></strong>
          <%= link_to 'Edit', edit_cabinet_path(cabinet), class: 'btn btn-sm btn-primary pull-right' %>  
        </td>
      </tr>

      <tr>
        <th>Green</th>
        <td><%= cabinet.occupiable.is_green ? 'Yes' : 'No' %></td>
      </tr>

      <tr>
        <th>Flowering</th>
        <td><%= cabinet.occupiable.is_flowering ? 'Yes' : 'No' %></td>
      </tr>

      </tbody>
    </table>
  </div>

<!-- if cabinet is occupied by Animal -->

<%- else %>

  <div class='panel-body table-responsive'>
    <table class='table table-default'>
      <tbody>

      <tr>
        <th>Species</th>
        <td>
          <strong><%= link_to cabinet.occupiable.name, animal_path(cabinet.occupiable) %></strong>
          <%= link_to 'Edit', edit_cabinet_path(cabinet), class: 'btn btn-sm btn-primary pull-right' %>  
        </td>
      </tr>

      <tr>
        <th>Class</th>
        <td><%= cabinet.occupiable.classification %></td>
      </tr>

      <tr>
        <th>No. of Legs</th>
        <td><%= cabinet.occupiable.legs %></td>
      </tr>

      </tbody>
    </table>
  </div>

<%- end %>
