<div class='page-header'>
  <div class='container'>
    <h1>Edit Cabinet <%= @cabinet.name%></h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <%= simple_form_for @cabinet do |f| %>

      <div class='panel-body'>
        <%= f.input :occupiable_type, label: '1. Species', collection: ['Animal', 'Plant'], include_blank: 'Select a Species', selected: nil, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :occupiable_id, label: '2. Name', collection: [], wrapper_html: { class: 'col-md-4' } %>
      </div>

      <div class='panel-footer'>
        <%= link_to 'Back', cabinets_path, class: 'btn btn-default' %>
        <%= f.submit 'Save Changes', class: 'btn btn-primary pull-right' %>
      </div>

    <%- end %>
  </div>
</div>