<div class='page-header'>
  <div class='container'>
    <h1>Edit Cabinet <%= @cabinet.name%></h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <%= simple_form_for @cabinet do |f| %>

      <div class='panel-heading'>
        <h2>Occupied by</h2>
      </div>

      <div class='panel-body'>
        <%= f.input :occupiable, collection: Plant.all %>
      </div>

      <div class='panel-footer'>
        <%= link_to 'Back', cabinets_path, class: 'btn btn-default' %>
        <%= f.submit 'Save Changes', class: 'btn btn-primary pull-right' %>
      </div>

    <%- end %>
  </div>
</div>